<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-mixpanel-android5-only"
        version="2.3.6">

    <name>Mixpanel</name>

    <description>Mixpanel Cordova Plugin for iOS and Android (and Browser)</description>

    <repo>https://github.com/samzilverberg/mixpanel-cordova.git</repo>
    <author>Sam Zilverberg</author>
    <keywords>mixpanel, cordova, phonegap, ionic, plugin, ios, android</keywords>

    <engines>
        <engine name="cordova" version=">=3.5.0"/>
    </engines>

    <js-module src="www/mixpanel.js" name="Mixpanel">
        <clobbers target="mixpanel"/>
    </js-module>


    <platform name="android">

        <!-- config.xml -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Mixpanel">
                <param name="android-package" value="com.samz.cordova.mixpanel.MixpanelPlugin"/>
            </feature>
        </config-file>

        <!-- Plugin files -->
        <source-file src="src/android/MixpanelPlugin.java" target-dir="src/android"/>
        <framework src="com.mixpanel.android:mixpanel-android:4.9.8"/>
        <framework src="com.google.android.gms:play-services-base:+"/>
        <framework src="com.google.android.gms:play-services-gcm:+"/>

        <!-- AndroidManifest.xml -->
        <!-- see https://github.com/mixpanel/mixpanel-android/blob/master/src/main/AndroidManifest.xml -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data
                    android:name="com.mixpanel.android.MPConfig.EnableDebugLogging"
                    android:value="true"/>

            <activity android:name="com.mixpanel.android.surveys.SurveyActivity"
                      android:theme="@style/com_mixpanel_android_SurveyActivityTheme"/>
        </config-file>
    </platform>

</plugin>
